div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > form {
  .ant-select-selector {
    border-radius: 6px;
    font-weight: 600;
    color: #8c8c8c;
    height: 40px;
    border: 1px solid #d9d9d9;
    .ant-select-selection-item {
      line-height: 40px;
      font-weight: bold;
    }
  }
}


div.ant-modal-wrap {
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 6px;
    font-weight: 600;
    color: #8c8c8c;
    height: 40px;
    border: 1px solid #d9d9d9;
    .ant-select-selection-item {
      line-height: 40px;
      font-weight: bold;
    }
    .ant-select-selection-placeholder {
      padding-top: 4px;
    }
  }
}

// ToDo we need to add this to the form.scss file and
//  with normal height of input
.ant-input-password {
  input {
    position: relative;
    bottom: 9px;
    height: 38px;
  }
}